*{
   margin:0 ;
   padding: 0;
}
.header{
	background-color: #444;
	width: 100%; 
    margin-top: 0;
    height: 200px;
}
.header ul{
	
}
.header ul li a{
	color: #FFFFFF;
	text-decoration: none;
  text-transform: uppercase;
	
}

.header ul li{
	margin-top: 0;
	list-style-type: none;
	display: inline-block;
	float: right;
	margin-right: 4%;
	text-decoration: none;
   padding-top: 1%;
}
.logo{
	
	height: 60%;
    margin-top: 2%;
    margin-left: 3%;
}

.title{
	text-align: center;
	font-size: 60pt;
	margin-top: -95px; 
	color: white;
}

.info{
	text-align: center;
	font-size: 12pt;
	
	color:#999999;
	text-transform: lowercase;
}
.btn {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 13px;
  text-decoration: none;
  margin: 0;
  margin-top: 5px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 0px 0px 0px;
}
.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
  background-color: #48E68B;
}
.grey{
  background-color:#999999;
  box-shadow: 0px 5px 0px 0px #777777;
}

.grey:hover {
  background-color: #888888;
}
.hello{
  color: #FFFFFF;
  font-size: 20pt;
  padding-top: 5%;
}

/*header*/
/*nav*/
.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
.nav {
  background: #2ecc71;
  color: black;
  
}
.nav a {
    text-decoration: none;
    color: white;
    transition: 0.4s;
  }
.nav ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
.nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }  
 .nav ul a {
      padding: 0.9375em 2.1875em;
      display: flex;
      text-transform: uppercase;
      
  }


.nav ul ul {
	display: none;
	position: absolute;
	top: 248px;
	z-index: 100;
	
} 
.nav ul ul li{
	width: 168px;
	float: none;
	display: list-item;
	position: relative;
	background-color: #2ecc71;
    border-bottom:1px solid #FFFFFF;
    
}
.nav ul li:hover >ul { 
color: #2ecc71; 
display: inherit; 
}

.nav li a:hover {
  background-color: #15B358;
  color:  white;
  padding:15px 35px;
}

/* slider*/

/*Slider */
.content-slider{
	background-image:url(../image/slider/fon.jpg);
	background-repeat: no-repeat;
	width: 100%;
    height: 500px;

}

.slider{
	background-color: rgba(97, 97, 97, 0.2);
	width: 100%;
	height: 100%;
	


}
.demo{
	width: 100%;
	height: 800px;
	}

.c-slider{
	margin: 0 ;
	padding: 0;
	position: relative;
	text-align: center;
}
.c-slider div{
	width: 100%;
	height:0 auto;
	display: none;
	transition:0.5s all;

}
.c-slider  img{
	width: 400px;
	height: 400px;
	padding-top: 2%;
}
button{
	position: absolute;
	z-index: 2;
	outline: none;
	display: block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 10%;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 50%;
  border:none;
  background-color: rgba(179, 181, 183,0.3);
}

/* Position the "next button" to the right */
.next {
  right: 0.5%;
  
}
.prev{
	left: 0.5%;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(111, 112, 114,0.8);
  color: white;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 5px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}



/*categories */
.categories-bg{
	background-color: #f4f4f4;
	width: 100%;
	height: 60%;
  min-height: 600px;
	display: block;
    margin:0;


}


.cat{
	width: 30%;
	height: 300px;
	background-color:#fff;
  text-align: center;
  margin:1%;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);

}
.cat img{
	padding-top: 2%;
	width: 80%;
	height: 80%;

}
.list {
  display: flex;
  flex-wrap: wrap;
}
.news-list{
  width: 30%;
  height: 50%;
  min-height: 400px;
  background-color:#fff;
  text-align: center;
  margin:1.6%;
   -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}
.news-list img{
  width: 300px;
  height: 300px;
  margin: 2%;
}
.news-list h3{
  font-size: 20pt;
}
.cat-title{
	padding-top: 2%;
	font-size: 14pt;
  text-decoration: none;
}
.news-title{
  text-align: center;
  color: #4d4d4d;
}
.description{
    font-size: 20px;
    line-height: 1.8em;
    color:#666666;
}
.center{
  text-align: center;
}
.main-img{
  width: 100%;
  height: 40%;
  margin:2%;
  margin-top: 13%;
  float: left;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);

}
.news-image{
-webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}
.title-size{
  font-size: 30pt;
  text-align: center;
  padding:0;
  height: 0;
}
.img-div{
  width: 40%;
}
.text{
  width: 50%;
  margin-left: 45%;
  margin-top: 5%;
}

.mar {
  margin-top: 5%;
}
.table-image{
  width: 60px;
  height: 60px;
  margin-top: 2.5%;
}

.edit{
  background-color: #f4f4f4;
  width: 100%;
  height: 60%;
  min-height: 600px;
  display: block;
    margin:0;
}

.news-image{
  width: 300px;
  height: 300px;
  margin: 5%;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);

}
.new-image{
  float: left;
  margin: 
}
.edit-form-div{
  float: right;
  margin-top:-30%;
  margin-right: 20%;
  width: 50%;
}
.edit-news-form  {
  margin: 5%;
}
.edit-news-form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #FFFFFF;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  color: #666666;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}
.edit-news-form label {
  font-family: "Roboto", sans-serif;
  outline: 0;
 
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  color: #666666;

}

.edit-news-form textarea {
  font-family: "Roboto", sans-serif;
  outline: 0;
  margin: 0 0 15px;
  padding: 15px;
  width: 100%;
  border:none;
  min-height: 300px;
  box-sizing: border-box;
  font-size: 14px;
  color: #666666;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}

#edit-news, #add-news{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 40%;
  border: 0;
  padding: 15px;
  margin-left: 30%;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

/*categories*/

/* FOOTER */
.footer{

	height: 30%;
    vertical-align: bottom; 
    background-color: #444444;
    margin-right: 0.2%;
    margin-left: 0.2%;
    margin-top: 0.3%;
 }

.footer-image{
	margin:0px;
	margin-left: 2%;
	margin-right: 0;
	padding-top: 2%;
	width: 5.5%;
	height: 5.5%;
	
}
.footer ul{
   text-align: right;
   margin: 0;
}

.footer ul li{
	display: inline-block;
	width: 8%;
    padding-right: 1%;
}
.footer ul li img{
	width: 25%;
	height: 25%;
}
.footer p{
	text-align: center;
	margin: 0;
	font-size: 14pt;
	padding: 0;
	color: #999999;
}


/*FOOTER */


/*CONTENT*/

 .content{
	background-color: #f4f4f4;
	width: 100%;
	min-height: 500px;
}


.video{
	background-color:white;
  width:65%;
	margin: 1%;
  margin-left: 5%;
	float:left;
	text-align: center;
	height: 450px;
	margin-right: 0.5%;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);

}

.video p{
	font-size:20pt;
	margin: 2%;
  color: #666666;
}
.video iframe {
	width: 60%;
	height: 75%
}


.sidebar{
    float: right;
    width: 25%;
    height: 450px;
    -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
    margin:1%;
    margin-right:3%;
	  background-color: white;
}

.news{
	
	height: 40px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 13px;
	font-size: 20pt;
  margin:0;
  width: 100%;
  color: #666666;
}
.sidebar ul{
	text-decoration: none;
	list-style-type: none;
	background-color: white;
	margin-right: 10px;
	margin-top: 0;
	padding: 0;
  
}
.sideber img{
  width: 80px;
  height: 80px;
  margin-top: 1%;


}
.sidebar ul a{
	color:#666666;
  text-decoration: none;

}

.sidebar ul li{
	border-bottom:1px solid #e5e5e5;
	padding:0;
  margin-left: 4%;
	
	height: 90.6px;
  width: 100%;
}

/*CONTENT*/
.wrap-map{
	margin-right:0.5%; 
	width: 48.5%;
    background-color:#FFF;
    margin-top: -2%;
    margin-left: 1%;
    height: 380;
    -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}

#map{
	width: 98%;
	height: 380px;
	margin: 1%;
}

.contact-info{
	background-color: #f4f4f4;
	width: 100%;
	min-height: 500px;
	margin: 0;

}

.contact-us h1{
	margin: 0;
    margin-top: 1%;
    color: #4d4d4d;
    font-size: 40pt;
}

.contact-us p{
	text-align: justify;
	margin: 3%;
	color: #4d4d4d;
	font-size: 16pt;
	text-align: center;
}


.contact-us{
	min-height: 450px;
	margin: 1%;
	margin-right:0.5%; 
	width: 48.5%;
    float: left;
    background-color:#FFF;
    text-align: center;
    -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}

.feed-icon ul li{
	display: inline;

}
.feed-icon img{
	width:20%;
	height:20%;
	margin: 5%;

}

.feedback{
	float: right;
	background-color: #FFF;
    width: 48.5%;
    margin: 1%;
    margin-left: 0.5%;
    min-height: 450px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}

/*contact form*/
.cd-form div {
   position: relative;
  margin: 20px 0;
  text-align: center;
}
.cd-form .cd-label {
  font-size: 1.3rem;
  color: #4d4d4d;
  margin-bottom: 10px;
}
.cd-form h4{
	font-size: 1.2rem;
	color: #4d4d4d;
    margin-bottom: 10px;
}
.cd-form .cd-label {
  display: block;
}
.cd-form input, .cd-form textarea, .cd-form label {
  font-size: 1.3rem;
  color: #4d4d4d;
}
.cd-form select{
 font-size: 0.9rem;
}
.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form textarea{
  display: block;
  width: 60%;
  appearance: none;
  margin-left: 17%;
}
.cd-form select{
  display: block;
  width: 62%;
  appearance: none;
  margin-left: 17%;
}
.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form textarea,
.cd-form select {
 
  padding: 6px;
  border: 1px solid #cfd9db;
  background-color: #ffffff;
  border-radius: .25em;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}
.cd-form input[type="text"]:focus,
.cd-form input[type="email"]:focus,
.cd-form textarea:focus,
.cd-form select:focus {
  outline: none;
  border-color: #2ecc71;
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
}
.cd-form .cd-select {
    position: relative;
}
.cd-form .cd-select::after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 58%;
  top: 50%;
  margin-top: -8px;
  display: block;
  width: 16px;
  height: 16px;
  pointer-events: none;
}
.cd-select:hover::after{
  content: '';
  position: absolute;
  z-index: 1;
  left: 58%;
  top: 50%;
  margin-top: -8px;
  display: block;
  width: 16px;
  height: 16px;
  pointer-events: none;
 
}
.cd-form select {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.cd-form .cd-form-list::after {
  clear: both;
  content: "";
  display: table;
}
.cd-form .cd-form-list li {
 
  display: inline-block;
  position: relative;
  user-select: none;
  margin: 0 26px 16px 0;
 
}
.cd-form input[type=radio],
.cd-form input[type=checkbox] {
  
  position: absolute;
  left: 0;
  top: 50%;
  /*transform: translateY(-50%);*/
  padding: 0;
  opacity: 0;
  z-index: 2;
}
.cd-form input[type="radio"] + label,
.cd-form input[type="checkbox"] + label {
  padding-left: 25px;
}
.cd-form input[type="radio"] + label::before,
.cd-form input[type="radio"] + label::after,
.cd-form input[type="checkbox"] + label::before,
.cd-form input[type="checkbox"] + label::after {
  
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  width: 16px;
  height: 16px;
}
.cd-form input[type="radio"] + label::before,
.cd-form input[type="checkbox"] + label::before {
  border: 1px solid #cfd9db;
  background: #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}
.cd-form input[type="radio"] + label::before,
.cd-form input[type="radio"] + label::after {
  border-radius: 50%;
}
.cd-form input[type="checkbox"] + label::before,
.cd-form input[type="checkbox"] + label::after {
  border-radius: .25em;
}
.cd-form input[type="radio"] + label::after,
.cd-form input[type="checkbox"] + label::after {
  background-color: #2ecc71;
  background-position: center center;
  background-repeat: no-repeat;
 
  display: none;
}
.cd-form input[type="radio"] + label::after {
  
  background-image: url("../image/cd-icon-radio.svg");
}
.cd-form input[type="checkbox"] + label::after {
  
  background-image: url("../image/cd-icon-check.svg");
}

.cd-form input[type="radio"]:checked + label::after,
.cd-form input[type="checkbox"]:checked + label::after {
  display: block;
}
.cd-form input[type="radio"]:checked + label::before,
.cd-form input[type="radio"]:checked + label::after,
.cd-form input[type="checkbox"]:checked + label::before,
.cd-form input[type="checkbox"]:checked + label::after {
 
  animation: cd-bounce 0.3s;
}
.cd-form textarea {
  min-height: 175px;
  resize: vertical;
  overflow: auto;
}
.cd-form input[type="submit"] {
 
  border: none;
  background: #2ecc71;
  border-radius: .25em;
  padding: 16px 20px;
  color: #ffffff;
  cursor: pointer;
  
}
/*contact form*/

/*select file */
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input:active,focus{
  border-color: #2ecc71;
}
.custom-file-input::before {
  content: 'Select your file';
  display: inline-block;
  background: #2ecc71 ;
  border-radius: .25em;
  padding: 5px 8px;
  outline: none;
  cursor: pointer;
  color: #FFF;
}
.custom-file-input:hover::before {
  border-color: #2ecc71;
}

.click{
  cursor: pointer;
  text-transform: uppercase;
}

/*select file */

/*Form*/
.modal-content{
  margin:3% auto;
  width: 100px;
  padding: 20%;
  position: absolute;
  top: 40%;
  left: 50%;
  width:25%;
  height:65%;
  background-color: rgb(200, 200, 200);
  
  transform: translate(-50%,-50%);
  text-align: right;
    padding: 20px;
}

.modal{
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(80, 80, 80, 0.7);

}

.close{
  float: right;
  font-size: 40pt;
  font-weight: bold;

}
.modal-content svg{
  transform: translate(50%,-50%);
  fill:#212121;
}
.login-form p {
  color: #212121;
  margin: 5%;
  margin-right: 0; 
}
.login-form h1{
  margin: 0;
  color:#212121;
  transform: translate(-27%,-40%);
}

.register-form p {
  color: #212121;
  margin: 4%;
  margin-right: 0; 
}
.register-form h1{
  margin: 0;
  color:#212121;
  transform: translate(-10%,-40%);
}

.close{
  position: relative;
  float: right;
}
.login-form input {
   margin: 1%;
   margin-bottom: 5%;
   margin-top: 2%;

}


#pass,#newpass,#passСоnf,#addpass{
  background-image: url(../image/password.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 4px 8px;
  margin-right: 5%;
} 
#pass:focus,
#newpass:focus,
#passСоnf:focus,
#addpass:focus{
  background-image: url(../image/password.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 4px 8px;
  margin-right: 5%;
} 
  #login,
  #first_name,
  #last_name,
  #newlogin,#addlogin,
  #addlast_name,
  #addfirst_name,
  #editlogin,
  #editlast_name,
  #editfirst_name{
  background-image: url(../image/login.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 4px 8px;
  margin-right: 5%;
}
#login:focus,
#first_name:focus,
#last_name:focus,
#newlogin:focus,
#addlogin:focus,
#addlast_name:focus,
#addfirst_name:focus
#editlogin:focus,
#editlast_name:focus,
#editfirst_name:focus{
  background-image: url(../image/login.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 4px 8px;
  margin-right: 5%;
}
.register-form label{
  float: left;
  color: #666666;
  margin: 1%;
}
.register-form h1{

  color: #666666;

}


.area{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  padding-left: 20%;
  box-sizing: border-box;
  font-size: 14px;
}

.log {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
  margin: 0;
  opacity: 1;
  margin-top: 3%;
}
.log:hover,.form input[type="submit"]:active,.form input[type="submit"]:focus {
  background: #43A047;
}

/*Form*/


/*TABLE*/
.users-table{
  background-color:#f4f4f4; 
  text-align: center;
  padding-top: 2%;
}

.table-fill {
  margin: 0 auto;
  font-size: 1.5em;
  margin-bottom: 15px;
}


.table-fill tr th { 
 
  padding: 12px 30px;
  padding-left: 42px;
  background:#2ecc71 ;
  color: #FFFFFF;
}

.table-fill tr td { 
  border-bottom: 1px solid rgba(77,77,77,0.5);
  color: #4d4d4d;
}
.table-fill svg{
  width: 15%;
  height: 15%;
  fill:#4d4d4d;
}

.table-fill tr:hover td {
  color:#FFFFFF;
  background:#888888;
 

}
 
.table-fill tr:hover td svg{
  fill:white;
}

.col-id{
  width: 2px;
}
.col-login{
  width: 8px;
}
.col-fname{
  width: 8px;
}
.col-action{
  width: 1px;
}
.col-image{
  width: 5px;
}
/*TABLE*/

.yellow{
  border-radius: 5px;
  padding: 1% 1%;
  font-size: 22px;
  text-decoration: none;
  margin-bottom: 2%;
  margin-top: 0; 
  color: #000000;
  display: inline-block;

}
.yellow:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 0px 0px 0px;
}
.yellow {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
  color: #FFFFFF;
}

.yellow:hover {
   background-color: #48E68B;
}
#wrapper {
  display: block;
  width: 850px;
  background: #fff;
  margin: 0 auto;
  margin-bottom:1%;
  padding: 10px 17px;
   -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
  
}

#wrapper h1{
  color: #4d4d4d;
  margin-bottom: 1%;
}

